.container {
  display: flex;
  align-items: center;
  gap: 2rem;
  white-space: nowrap;
  padding: 2rem;
}

.icon {
  width: 128px;
  aspect-ratio: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  font-weight: 700;
  font-size: 2rem;
}

.subscriberCount {
  font-weight: 700;
}

.description {

}

.created {
  font-size: 0.875rem;
}
