.container {
  position: absolute;
  bottom: 0;
  color: var(--white);
  width: 100%;
}

.panel {
  padding: 0.5rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.panelButton {
  position: relative;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

.playPauseButton {
  width: 2.5rem;
  height: 2.5rem;
}

.volumeButton {
  width: 1.75rem;
  height: 1.75rem;
}

.volumeSlider {
  width: 6rem;
}

.fullscreenButton {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
}
