.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.75rem;
}

.thumbnailWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: var(--black);
  border-radius: 0.5rem;
  overflow: hidden;
}

.thumbnail {
  object-fit: contain;
}

.videoDuration {
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;
  padding: 0.25rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
}

.videoCardInfo {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
}

.channelImage {
  width: 2.5rem;
  height: 2.5rem;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.videoTitle {
  font-size: 1rem;
  font-weight: 700;
}

.channelName {
  font-weight: 900;
  font-size: 0.875rem;
}

.uploadDate {
  font-size: 0.875rem;
}
