.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-top: 1.5rem;
  align-items: center;
}

.channelImage {
  width: 8rem;
  height: 8rem;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.categoryTitle {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--gray);
}

.name {
  font-size: 1.75rem;
  font-weight: 700;
}

.categoryContent {
  font-size: 1.25rem;
}
