.container {
  position: absolute;
  min-width: 22.5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: 1px solid var(--black);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px 4px var(--black-shadow);
  top: 0;
  left: 50%;
  transition: transform 0.5s;
  transform: translateX(-50%) translateY(-5rem);
  white-space: pre;
  text-align: center;
  background: var(--white);
}

.error {
  border: 1px solid var(--red);
  color: var(--red);
  box-shadow: 0px 0px 4px 4px var(--red-shadow);
}

.show {
  transform: translateX(-50%) translateY(3rem);
}

@media (width < 40rem) {
  .container {
    min-width: calc(100% - 2rem);
    white-space: normal;
    padding: 0.75rem 1.25rem;
  }
}
