.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 8rem;
}

.button {
  border: none;
  outline: none;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
}

.channelName {
  font-size: 1.5rem;
  text-align: center;
}
