.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.input[type=file] {
  display: none;
}

.label {
  cursor: pointer;
}

.previewWrapper {
  position: relative;
  width: 20rem;
  height: 11.25rem;
}

.preview {
  object-fit: cover;
}

.description {
  font-size: 0.875rem;
}

.description::before {
  content: "•";
  padding-right: 0.5rem;
}

.error {
  color: var(--red);
}
