.error {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.channelList {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.noChannel {
  font-size: 1.5rem;
}
