.container {
  position: relative;
  width: 100%;
}

.input {
  outline: 1px solid var(--text-black);
  border: 2px solid transparent;
  border-radius: 0.25rem;
  padding: 0.75rem 0.875rem;
  font-size: 1.125rem;
  width: 100%;
}

.input:focus {
  border: 2px solid var(--text-black);
}
