.navigationBar {
  position: fixed;
  width: 17.5rem;
  border-right: 1px solid var(--lightgray-shadow);
  height: 100%;
  background: var(--white);
}

.title {
  padding: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu {
  display: block;
  padding: 0.75rem 0 0.75rem 1rem;
  font-size: 1.5rem;
}

.current {
  font-weight: 700;
  border-right: 0.5rem solid var(--blue);
}

.content {
  margin-left: 17.5rem;
}

@media (width < 40rem) {
  .navigationBar {
    position: relative;
    width: 100%;
    height: auto;
    border-right: 0;
    border-bottom: 1px solid var(--lightgray-shadow);;
  }

  .content {
    margin-left: 0;
  }

  .current {
    border-right: 0;
    border-left: 0.5rem solid var(--blue);
  }
}
