.button {
  display: flex;
  border-radius: 9999px;
  background-color: var(--black);
  color: var(--white);
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  padding: 0.625rem 1.25rem;
  font-weight: 900;
  font-size: 1.125rem;
}

.small {
  padding: 0.375rem 0.875rem;
  font-weight: 700;
  font-size: 0.875rem;
}

.button:disabled {
  background-color: var(--lightgray);
  cursor: default;
}
