.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.thumbnail {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: var(--black);
  border-radius: 0.5rem;
  overflow: hidden;
}

.title {
  margin-top: 0.25rem;
  font-weight: 700;
  font-size: 1rem;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.875rem;
}
